vCard Parser depends on carriage return

Hi.

First: thanks for your library :)

I'm trying to read a bunch of vcf files. Apparently some of them where created WITH carriage return, some without. I get parser errors on those without carriage return.

STEPS TO REPRODUCE
-) open one previously working file so you can see carriage returns (for example `vim -b file.vcf` you'll see the carriage returns as `^M`)
-) delete one of the carriage returns and save
-) parse will now fail

Sorry if I'm actually reporting an error in another library. I'll try to investigate this weekend and come up with a patch.


Hi I haven't come up with a patch yet but now I can completely confirm that the problem is about carriage returns. I added this code to my project:

```
import qualified Data.ByteString.Lazy.Char8 as CB
. . . 
toLines = CB.lines . (CB.filter (/= '\r') )
nl = CB.pack "\r\n"

insertCarriageReturns :: B.ByteString -> B.ByteString
insertCarriageReturns = ( CB.intercalate nl ) . toLines
```

and now the vCards that previously failed work if run their `ByteStrings` through `insertCarriageReturns` first.


[RFC6350](https://tools.ietf.org/html/rfc6350#section-3.2) specifies that vcard lines are delimited by carriage-return followed-by a newline (CRLF) sequence:

> Individual lines within vCard are delimited by the [RFC5322] line
> break, which is a CRLF sequence (U+000D followed by U+000A).  Long
> logical lines of text can be split into a multiple-physical-line
> representation using the following folding technique.  Content lines
> SHOULD be folded to a maximum width of 75 octets, excluding the line
> break.  Multi-octet characters MUST remain contiguous.  The rationale
> for this folding process can be found in [RFC5322], Section 2.1.1."

So, any vcards (including many samples people create for testing, unfortunately) which use only
a newline or only a carriage-return are wrong, and the behavior of the parser is _likely correct_ if it breaks on them.
